<section>
  <div class="page-header">
    <h1>Jobs</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <button class="btn btn-primary pull-right" ui-sref="jobs.create">creat job</button>
          <br><br>
          <div class="dataTable_wrapper">
            <table width="100%" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Customer</th>
                  <th>Time</th>
                  <th>Taken By</th>
                  <th>Done</th>
                </tr>
              </thead>
              <tbody ng-repeat="job in vm.jobs" ui-sref="jobs.view({jobId: job._id})">
                  <td> {{job.name}} </td>
                  <td> {{job.user.displayName}} </td>
                  <td> {{job.created | date:'medium'}} </td>
                  <td> none </td>
                  <td> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>

</section>


