<section>
  <div class="page-header">
    <h1>Jobs</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-left">
          <input type="text" ng-model="vm.search" class="form-control" placeholder="search...">
          </div>
          <div class="pull-right">
          <button class="btn btn-primary" ui-sref="jobs.create">create job</button>
          </div>
          <br><br>
          <div class="dataTable_wrapper">
            <table width="100%" class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <td>
                    <a href="#" ng-click="vm.sortType = 'name'; vm.sortReverse = !vm.sortReverse">
                      Job Name 
                      <span ng-show="vm.sortType == 'name'" class="fa fa-caret-down"></span>
                    </a>
                  </td>
                  <td>
                    <a href="#" ng-click="vm.sortType = 'customer.name'; vm.sortReverse = !vm.sortReverse">
                      Customer 
                      <span ng-show="vm.sortType == 'customer.name'" class="fa fa-caret-down"></span>
                    </a>
                  </td>
                  <td>
                    <a href="#" ng-click="vm.sortType = 'appointmentDatetime'; vm.sortReverse = !vm.sortReverse">
                      Time
                      <span ng-show="vm.sortType == 'appointmentDatetime'" class="fa fa-caret-down"></span>
                    </a>
                  </td>
                  <td>
                    <a href="#" ng-click="vm.sortType = 'technician.displayName'; vm.sortReverse = !vm.sortReverse">
                      Technician 
                      <span ng-show="vm.sortType == 'technician.displayName' " class="fa fa-caret-down"></span>
                    </a>
                  </td>
                  <td>
                    <a href="#" ng-click="vm.sortType = 'completed'; vm.sortReverse = !vm.sortReverse">
                      Done
                      <span ng-show="vm.sortType == 'completed'" class="fa fa-caret-down"></span>
                    </a>
                  </td> 
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="job in vm.jobs| orderBy:vm.sortType:vm.sortReverse | filter:vm.search">
                    <td> <a ui-sref="jobs.view({jobId: job._id})">{{job.name}} </a> </td>
                    <td> {{job.customer.name}} </td>
                    <td> {{job.appointmentDatetime | date:'MM/dd/yyyy  h:mma'}}</td>
                    <td> {{job.technician.displayName}} </td>
                    <td> <span ng-show="job.completed" class="glyphicon glyphicon-ok"></span> <span ng-show="!job.completed" class="glyphicon glyphicon-remove"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>

</section>


