<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.job.name"></h1>
  </div>
  <div>
    <tabset>
    <tab heading="Basic Info">

    </tab>

    <tab heading="What's Important">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </div>
      </div>
    </tab>

    <tab heading="Past Visits">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </tab>

    <tab heading="Things to try">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </tab>

    <tab heading="Notes">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </tab>


  </tabset>

  </div>


  <hr>
  <div class="pull-right"
       data-ng-show="vm.job.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="jobs.edit({ jobId: vm.job._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.job.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.job.user"
            data-ng-bind="vm.job.user.displayName"></span>
      <span data-ng-if="!vm.job.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.job.content"></p>
</section>
