<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.job.name"></h1>
  </div>
  <div>
    <tabset>
    <tab heading="Basic Info">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
          <div class="col-md-4"><strong>Name: </strong></div>
          <div class="col-md-8">{{vm.job.name}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Customer: </strong></div>
          <div class="col-md-8">{{vm.job.customer.name}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Location: </strong></div>
          <div class="col-md-8">{{vm.job.location}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Date: </strong></div>
          <div class="col-md-8">{{vm.job.appointmentDatetime | date:'yyyy-MMMM-dd'}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Time: </strong></div>
          <div class="col-md-8">{{vm.job.appointmentDatetime | date:'h:mm a'}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Estimated Time: </strong></div>
          <div class="col-md-8">{{vm.job.estimatedTime}} minutes</div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Technician: </strong></div>
          <div class="col-md-8">{{vm.job.technician.displayName}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Taken: </strong></div>
          <div class="col-md-8">{{vm.job.taken}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Completed: </strong></div>
          <div class="col-md-8">{{vm.job.completed}} </div>
          </div>

        </div>
      </div>
    </tab>

    <tab heading="Equipments">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {{vm.job.equipments}}
        </div>
      </div>
    </tab>

    <tab heading="Task Scope">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {{vm.job.taskScope}}
        </div>
      </div>
    </tab>

    <tab heading="Notes">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {{vm.job.notes}}
        </div>
      </div>
    </tab>
  </tabset>
  </div>


  <hr>
  <div class="pull-right">
    <a class="btn btn-danger"
       ng-click="vm.takeJob()">
       Take this job
    </a>
    <a class="btn btn-primary"
       data-ui-sref="jobs.edit({ jobId: vm.job._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
  </div>


  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.job.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.job.user"
            data-ng-bind="vm.job.user.displayName"></span>
      <span data-ng-if="!vm.job.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.job.content"></p>
</section>
