<section>
  <div class="page-header">
    <h1>{{vm.customer._id ? 'Edit Customer' : 'New Customer'}}</h1>
  </div>
  <div class="col-md-8">
    <form name="vm.form.customerForm" class="form-horizontal" ng-submit="vm.save(vm.form.customerForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="fname" type="text" ng-model="vm.customer.name" id="name" class="form-control" placeholder="First Name Last Name" required>
          <div ng-messages="vm.form.customerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer name is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="email">Email</label>
          <input ng-model="vm.customer.email" type="text" name="email" class="form-control" placeholder="jonsnow@example.com">
        </div>

        <div class="form-group">
          <label class="control-label" for="address">Address</label>
          <input ng-model="vm.customer.address" type="text" name="address" class="form-control" placeholder="address">
        </div>

        <div class="form-group">
          <label class="control-label" for="phoneNumber">Phone Number</label>
          <input ng-model="vm.customer.phoneNumber" type="text" name="phoneNumber" class="form-control" placeholder="Area Code - Phone Number - Extension">
        </div>

        <div class="form-group">
          <label class="control-label" for="paymentMethod">Payment Method</label> <br>
          <select ng-model="vm.customer.paymentMethod" name="paymentMethod">
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
            <option value="Credit Card">Credit Card</option>
          </select>
        </div>

        <div class="form-group">
          <label>Rating</label>
            <rating ng-model="vm.customer.rating" max="5" titles="['one','two','three']"></rating>
                <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
        </div>
        <div class="form-group">
          <label class="control-label" for="note">Notes</label>
          <textarea class="form-control" rows="8" name="note" ng-model="vm.customer.notes"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.customer._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
