<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.customer.name"></h1>
  </div>
  <div>
    <tabset>
    <tab heading="Basic Info">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
          <div class="col-md-4"><strong>Name: </strong></div>
          <div class="col-md-8">{{vm.customer.name}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Address: </strong></div>
          <div class="col-md-8">{{vm.customer.address}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Email: </strong></div>
          <div class="col-md-8">{{vm.customer.email}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Phone Number: </strong></div>
          <div class="col-md-8">{{vm.customer.phoneNumber}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Payment Method: </strong></div>
          <div class="col-md-8">{{vm.customer.paymentMethod}} </div>
          </div>


          <div class="row">
          <div class="col-md-4"><strong>Rating: </strong></div>
          <div class="col-md-8">
            <rating ng-model="vm.customer.rating" max="5" readonly="true"></rating>
          </div>
          </div>

        </div>
      </div>
    </tab>

    <tab heading="Past Jobs">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <strong></strong>
        </div>
      </div>
    </tab>

    <tab heading="Notes">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {{vm.customer.notes}}
        </div>
      </div>
    </tab>

<!-- To do:
add animation, uncheck checkbox automatically
change to icon -->

    <tab heading="Subscription">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3>Current Subscription:   <span class="fa fa-check pull-right" ng-show="vm.customer.subscription"></span> <span class="fa fa-times pull-right" ng-hide="vm.customer.subscription"></span> </h3>
          <div class="checkbox" ng-hide="vm.customer.subscription">
            <label>
              <input type="checkbox" ng-model=showForm>Add to Subscription list
            </label>
          
            <form stripe-form="stripeCallback" ng-show="showForm">
            <h4>Credit Card Info</h4>
              <div class="form-group">
                <input class="form-control" ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </tab>


  </tabset>

  </div>

  
  <div class="pull-right"
       data-ng-show="vm.customer.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="customers.edit({ customerId: vm.customer._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.customer.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.customer.user"
            data-ng-bind="vm.customer.user.displayName"></span>
      <span data-ng-if="!vm.customer.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.customer.content"></p>
  <script>
  Stripe.setPublishableKey('pk_test_marMaaWHzbMssD7pvXBXZc2v');
  </script>
</section>