<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.customer.name"></h1>
  </div>
  <div>
    <tabset>
    <tab heading="Basic Info">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
          <div class="col-md-4"><strong>Name: </strong></div>
          <div class="col-md-8">{{vm.customer.name}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Address: </strong></div>
          <div class="col-md-8">{{vm.customer.address}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Email: </strong></div>
          <div class="col-md-8">{{vm.customer.email}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Phone Number: </strong></div>
          <div class="col-md-8">{{vm.customer.phoneNumber}} </div>
          </div>

          <div class="row">
          <div class="col-md-4"><strong>Payment Method: </strong></div>
          <div class="col-md-8">{{vm.customer.paymentMethod}} </div>
          </div>


          <div class="row">
          <div class="col-md-4"><strong>Rating: </strong></div>
          <div class="col-md-8">
            <rating ng-model="vm.customer.rating" max="5" readonly="true"></rating>
          </div>
          </div>

        </div>
      </div>
    </tab>

    <tab heading="Past Jobs">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <strong></strong>
        </div>
      </div>
    </tab>

    <tab heading="Notes">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {{vm.customer.notes}}
        </div>
      </div>
    </tab>

    <tab heading="Subscription">h
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form stripe-form="stripeCallback">
              <input ng-model="number" placeholder="Card Number" />
              <input ng-model="expiry" placeholder="Expiration" />
              <input ng-model="cvc" placeholder="CVC" />
              <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </tab>


  </tabset>

  </div>

  
  <div class="pull-right"
       data-ng-show="vm.customer.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="customers.edit({ customerId: vm.customer._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.customer.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.customer.user"
            data-ng-bind="vm.customer.user.displayName"></span>
      <span data-ng-if="!vm.customer.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.customer.content"></p>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script>
    //Stripe.setPublishableKey('pk_test_marMaaWHzbMssD7pvXBXZc2v');
    console.log('asdfasdf');
  </script>
</section>